body {
    background-color: #333333;
  }





.blauw {
    color: #0000FF;
    font-size: 65px;
  }

.oranje {
    color: #DF7401;
    font-size: 55px;
}

.rood {
    color: #DF0101;
    font-size: 45px;
}

.groen {
    color: #3ADF00;
    font-size: 35px;
}

.geel {
    color: #FFFF00;
    font-size: 25px;
}